<!-- <header>
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../public/images/abc.svg" alt="Logo" width="100" height="100" class="d-inline-block align-text-top">
        
      </a>
    </div>
  </nav>
</header> -->

<header>
<nav class="navbar navbar-expand-lg py-5 navbar-light" style="background-color: #fefdfd;">
    <a class="navbar-brand" href="#">
      <img src="../../public/images/newlogo) (1).svg"  alt="Logo" width ='200' height="150" class="d-inline-block align-text-top">
    </a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
      <ul class= "navbar-nav nav-tabs  " >
             <li class="nav-item home"><a class="nav-link"   href="/home"> Home</a></li> 
             <li class="nav-item about"><a class="nav-link" href="/home/aboutus"> About Us</a> </li> 
             <li class="nav-item exerciseTab"><a class="nav-link" href="/home/searchExercise"> Exercises</a> </li>             
      </ul> 
     <span class="navbar-text">
      </span> 
      <span class="navbar-text"  class ='fitness'>
        This is your fitness journey!
      </span>
    </div>
  </div>
  </nav>
</header>



    
