
/*font choices
font-family: 'Alice', serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Vidaloka', serif;  */
.row{
    
    font-family: 'Roboto Condensed', sans-serif;
}

.stretch{
  
  width: 20%;
   
}



h1 {
  color: rgb(245, 185, 66);
  font-family: 'Merriweather';
  font-size: 4rem;
  padding-top:15%;
 
}

p{
  color:rgb(255, 255, 255);
  font-family: 'Merriweather';
  font-size: 2rem;
  padding-top:10%
}


ul{
  list-style:none;
  text-align: left;
}

/*.workout-list {
  width: auto;
  height: auto;
  margin-bottom: ;
}*/

.workout-list{
  margin-top: 3rem;
  background-color: rgba(245, 185, 66);
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 3px 10px;
  margin-bottom: 5%;
}

.letter{
  color: black;
  font-family: 'Vidaloka';
  font-size: 3rem;
  text-decoration: underline;

  
}

.exercise {
  color: black;
  font-family: 'Merriweather';
  font-size: 2rem;
  padding-left: 5%;
  
}

.reps {
  color: black;
  font-family: 'Merriweather';
  font-size: 2rem;
}





.signIn{
  font-size: 2rem;
  font-family:'Merriweather';
  margin-top: 10%;
  margin-bottom: 5%;
  color:white;
}

body{
  background-image: url('../images/sprite40.png');
  background-color: rgb(57, 52, 52);
}

.submit{
  margin-left: 2%;

}

.bodyFocus{
  padding: 1%;
  margin-left: 2%;
}

.enter{
  padding:2% 3% 2% 3%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  border-radius: 15px;
}

.new{
  color: rgb(245, 185, 66);
  font-family: 'Merriweather';
  font-size: 3.5rem;
  padding-top:15%;
  ;
}

.instructions{
  padding-bottom: 2%;
  padding-top: 5%;

}



/* media queries @max width 375 */

@media screen and (max-width: 375px){
  
  .new{
    font-size: 2rem;
   /* margin-right:20%; */
    width:auto;
    text-align: center;

  }
  .instructions{
    text-align: center;
   /* margin-right: 20%; */
    font-size:1.2rem;
  }
  .enter{
    margin-bottom: 4%;
    margin-right:10%;
    margin-left:7%;
  }


  .bodyFocus{
    
    padding:3%;
  }

  .workout-list {
    width:auto;
  }
  .logoSvg{
    height:50px;
    width: 200px;
  }

  .submitButtonA{
    margin-top:3%;
  }

  .account{
    
    font-size: medium;
  }

 /* .formSignUp{
    font-size: larger;
    margin:1%;
  } */


} 

/* media queries @max width 414 */

@media screen and (max-width: 414px){
  .submitButtonA{
    margin-top:3%;
  }
  .new{
    font-size: 2rem;
   /* margin-right:20%; */
    width:auto;
    text-align: center;

  }
  .instructions{
    text-align: center;
   /* margin-right: 20%; */
    font-size:1.2rem;
  }
  .enter{
    margin-bottom: 4%;
    margin-right:10%;
    margin-left:7%;
  }


  .bodyFocus{
    
    padding:3%;
  }

  .workout-list {
    width:auto;
  }
  .logoSvg{
    height:50px;
    width: 200px;
  }
  .welcome{
    font-size: 2rem;
  }
  
  
} 

/* media queries @max width 360 */

@media screen and (max-width: 360px){
  .welcome{
    font-size:2rem;
  }
  .signIn{
    font-size:1.5rem;
  }
  .email{
    width:40%;
  }
  .password{
    width:40%;
  }
.submitButtonA{
  margin-left:3%;
  margin-top: 5%;
}

  .new{
    font-size: 2rem;
   /* margin-right:20%; */
    width:auto;
    text-align: center;

  }
  .instructions{
    text-align: center;
   /* margin-right: 20%; */
    font-size:1rem;
  }
  .enter{
    margin-bottom: 4%;
    margin-right:10%;
    margin-left:7%;
  }

  .bodyFocus{
    
    padding:3%;
  }

  .workout-list {
    width:auto;
  }
  .logoSvg{
    height:50px;
    width: 200px;
  }
  
  
} 

/* media queries @max width 280 */

@media screen and (max-width: 280px){
  
  .new{
    font-size: 1.6rem;
    
    
   /* margin-right:20%; */
    width:auto;
    text-align: center;

  }
  .instructions{
    text-align: center;
   /* margin-right: 20%; */
    font-size:.80rem;
  }
  .enter{
    margin-right: 10%;
    font-size: 1rem;
   
  } 

  .bodyFocus{
    font-size: 1rem;
    padding:3.25%;
  }
  .submit{
    font-size: 1rem;
  }

  .workout-list {
    width:auto;
  }
  .logoSvg{
    height:50px;
    width: 150px;
  }
  
  
} 

@media screen and (max-width: 1024px){
  .welcome{
    font-size:2rem;
  }
  .signIn{
    font-size:2rem;
  }
  .accountSignUp{
    margin-bottom:70%;
  }
}

/* Sign Up Sheet */

